@import './mixin'

body 
  background: #1f003e
  width: 840px
  margin: 0px auto
  padding: 90px 0px 90px 0px
  text-align : center 
  .heart 
    margin-bottom: 90px 
  .questionController
    color: white
    font-family: "helvetica nuve"
    

    h1 
      font-family: georgia
      font-style: italic
      font-size: 35px
      font-weight: 200
      color: #fefefe
      margin-bottom: 5px
      &.question
        margin-bottom: 90px
    h2
      font-family: helvetica neue
      font-weight: 200
      font-size: 16px
      color: #fefefe
      margin-top: 0px
      margin-bottom: 40px
    ul
      list-style: none
      margin: 0px
      padding: 0px
      li
        cursor: pointer
        margin-bottom: 20px
        font-family: helvetica neue
        font-style: bold
        font-size: 20px
        color: #fefefe
    .button
      background: #ee4622
      font-family: helvetica neue
      font-style: bold
      font-size: 20px
      color: white
      text-shadow: 0px 1px 2px #b42000
     
      border-radius: 3px
      box-shadow: inset 0px 1px 0px rgba(255,255,255,.5), 0px 3px 6px black
      border: none 
      border-box()
      padding: 16px 40px 16px 40px
      cursor: pointer
    img
      width: 500px
    img.resultImage 
      width: 200px
      height: 200px
      display:inline-block
      vertical-align: top
      margin-right: 40px
    .details
      display:inline-block
      vertical-align: top
      text-align: left
      h1
        margin-top:0px
    .projectName
      a
        font-size: 90px
        color: white