body {
  text-align: center;
  background-color: #f00;
  background-image: url("red-background.jpg");
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-position: center;
}
body .questionController {
  color: #fff;
  font-family: "helvetica nuve";
}
body .questionController h1 {
  font-size: 90px;
}
body .questionController ul {
  list-style: none;
}
body .questionController ul li {
  font-size: 40px;
  cursor: pointer;
  margin-bottom: 20px;
}
body .questionController .button {
  display: inline-block;
  padding: 0 20px;
  background: #14acd1;
  background: -webkit-gradient(linear, left top, left bottom, from(#14acd1), to(#0b7994));
  background: -moz-linear-gradient(top, #14acd1, #0b7994);
  background: linear-gradient(top, #14acd1, #0b7994);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #095e73;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  line-height: 25px;
  text-align: center;
}
body .questionController .button:hover {
  background: #0a7590;
}
body .questionController .button.larger {
  font-size: 1.1em;
  line-height: 2.5em;
}
body .questionController img {
  width: 500px;
}
body .questionController .projectName a {
  font-size: 90px;
  color: #fff;
}
